/*

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

section {
  margin-top: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: #7453fc;
  color: #fff;
}

::-moz-selection {
  background: #7453fc;
  color: #fff;
}

.border-button a {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #7453fc;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #7453fc;
  border: 1px solid #7453fc;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.border-button a:hover {
  background-color: #7453fc;
  color: #fff;
}

.section-heading {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.section-heading .line-dec {
  width: 100px;
  height: 2px;
  background-color: #7453fc;
  margin: 0 auto 30px auto;
}

.section-heading h2 {
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}


/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.98);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #7453fc;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #7453fc;
  border-radius: 50%;
}

#overflowTest {
  width: 100%;
  height: 220px;
  overflow: auto;

  /* For Webkit browsers (Chrome, Safari, Edge, Opera) */
  &::-webkit-scrollbar {
    width: 8px;
    /* Adjust as needed */
    background-color: transparent;
    /* Makes the scrollbar track transparent */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Makes the scrollbar thumb transparent */
  }

  scrollbar-color: transparent transparent;
  /* For Firefox (track and thumb) */
  scrollbar-width: thin;
  /* For Firefox (or 'auto'/'none') */
}



/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
  height: 90px !important;
  background-color: rgb(0, 0, 0, 0.5) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.background-header .main-nav {
  padding: 0px;
  background-color: transparent;
}

.background-header .main-nav .nav li a {
  color: white !important;
  padding: 0px;
  background-color: transparent;
}

.header-area {
  background-color: transparent;
  position: absolute;
  padding: 15px 20px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background-color: transparent !important;
  display: flex;
  border-radius: 50px;
}

.header-area .main-nav .logo {
  flex-basis: 10%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 100px;
}

.background-header .main-nav .logo {
  margin-top: 8px;
}

.background-header .main-nav .logo img {
  width: 100px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 90%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 15px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header-area .main-nav .nav .nav-item .dropdown-menu {
  border: none !important;
  border-radius: 20px;
  transform: translate3d(10px, 42px, 0px) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.header-area .main-nav .nav .nav-item .dropdown-menu .dropdown-item {
  background-color: transparent !important;
}

.header-area .main-nav .nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background-color: #7453fc !important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 8px 15px;
  border-radius: 18px;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #fff;
  background-color: #7453fc;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #fff;
  opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #7453fc;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #7453fc;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #7453fc;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #7453fc;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #7453fc;
}


.header-area.header-sticky .nav li a.active {
  color: #fff;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }

  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }

  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }

  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }

  .background-header .main-nav .logo {
    top: 0px;
  }

  .background-header .main-nav .border-button {
    top: 0px !important;
  }

  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }

  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #7453fc !important;
    opacity: 1;
  }

  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }

  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }

  .header-area .container {
    padding: 0px;
  }

  .header-area .logo {
    margin-left: 0px;
  }

  .header-area .menu-trigger {
    display: block !important;
  }

  .header-area .main-nav {
    overflow: hidden;
  }

  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }

  .header-area.header-sticky .nav {
    margin-top: 85px !important;
    text-align: center;
  }

  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }

  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #1e1e1e !important;
  }

  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
    color: #7453fc !important;
  }

  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }

  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }

  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* 
---------------------------------------------
Introduction
--------------------------------------------- 
*/

.main-banner {
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 160px;
  background-color: #2a2a2a;
}

.main-banner-details {
  background-size: cover;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
}

.main-banner h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.main-banner h3 {
  font-size: 30px;
  line-height: 1.325;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.main-banner p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.main-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

.main-banner .border-button {
  margin-right: 15px;
  font-family: "Montserrat", sans-serif;
}

.main-banner .border-button a {
  font-size: 20px;
}

.main-banner .owl-banner {
  margin-top: -40px;
}

.main-banner .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: -76px;
  text-align: center;
}

.main-banner .owl-nav .owl-prev {
  margin-right: 7.5px;
}

.main-banner .owl-nav .owl-next {
  margin-left: 7.5px;
}

.main-banner .owl-nav .owl-prev span,
.main-banner .owl-nav .owl-next span {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  display: inline-block;
  color: white;
  background-color: rgba(250, 250, 250, 0.15);
  border-radius: 50%;
  opacity: 1;
  transition: all .3s;
}

.main-banner .owl-nav .owl-prev span:hover,
.main-banner .owl-nav .owl-next span:hover {
  opacity: 1;
}

.main-banner-details .header-text h2 {
  font-size: 2.5em;
  color: #ffffff;
  font-weight: normal;
  margin-top: 0 !important;
  margin-bottom: 10px;
}

.main-banner-details .header-text ul li strong {
  color: #ffffff;
  font-weight: bold;
}

.main-banner-details .header-text ul li {
  padding: 0;
  margin-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #e0e0e0;
}

.main-banner-details .header-text p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #cccccc;
  text-align: justify;
}

.card {
  background-color: transparent;
  border: none;
}

.card img {
  border-radius: 50px;
  display: flex;
  height: 380px;
  width: 420px;
  transition: all 0.3s ease-in-out;
}

.card img:hover {
  box-shadow: 10px 10px 20px #888888, -10px -10px 20px #ffffff;
}

.card .card-body {
  padding: 40px 20px 40px 20px;
}

.card .card-title {
  color: white;
  font-size: 30px;
  line-height: 32px;
  font-family: "Raleway", sans-serif;
}

.card .card-text {
  color: white;
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.card .card-button {
  color: white;
  background-color: transparent !important;
  border: 1px solid #7453fc;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
}

.card .card-button:hover {
  background-color: #7453fc !important;
}

.discover {
  padding: 40px 40px;
}

/* 
---------------------------------------------
Categories & Collections Style
--------------------------------------------- 
*/

.categories-collections {
  padding: 40px 0px;
  position: relative;
}

.categories .item {
  background-color: transparent;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  transition: all 0.5s ease;
}

.categories .item:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.1), 0 -10px 20px rgba(0, 255, 255, 0.1), 0 6px 6px rgba(0, 255, 255, 0.1);
}

.categories .item .icon {
  width: 240px;
  height: 240px;
  display: block;
  text-align: center;
  line-height: 62px;
  background-color: transparent !important;
}

.categories .item .icon img {
  width: 240px;
  height: 240px;
  display: block;
}

.categories .item h4 {
  margin-top: 30px;
  font-size: 20px;
}

.categories .item .icon-button a {
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  color: #7453fc;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-23px);
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.categories .item .icon-button a:hover {
  background-color: #7453fc;
  color: #fff;
}

.categories .item:hover .icon-button a {
  visibility: visible;
  opacity: 1;
}

.collections {
  margin-top: 60px;
}

.collections .carousel {
  margin-top: 60px !important;
}

.collections .item img {
  height: 240px;
  width: 240px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.collections .item .down-content {
  background-color: #282b2f;
  border: 1px solid #404245;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
}

.collections .item .down-content h4 {
  font-size: 16px;
}

.collections .item .down-content p {
  font-size: 14px;
}

.collections .item {
  padding: 20px;
  cursor: pointer;
}

.collections .item span {
  color: #fff;
  display: inline-block;
  width: 48%;
  font-size: 15px;
}

.collections .item span strong {
  font-size: 20px;
}

.collections .item span.category {
  text-align: right;
}

.collections .item .main-button a {
  width: 100%;
  text-align: center;
}

.collections .item .main-button {
  margin-top: 20px;
  margin-bottom: -60px;
}

.collections .item .main-button a:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #7453fc;
}

.collections .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50px);
  text-align: center;
}

.collections .owl-nav .owl-prev {
  position: absolute;
  left: -23px;
}

.collections .owl-nav .owl-next {
  position: absolute;
  right: -23px;
}

.collections .owl-nav .owl-prev span,
.collections .owl-nav .owl-next span {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  display: inline-block;
  color: #7453fc;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all .3s;
}

.collections .owl-nav .owl-prev span:hover,
.collections .owl-nav .owl-next span:hover {
  opacity: 1;
}

/* 
---------------------------------------------
Explore Style
--------------------------------------------- 
*/

.news {
  margin-top: 0px !important;
  padding-top: 40px !important;
  padding-bottom: 20px !important;
  margin-bottom: 0px;
}

.news .section-heading h2 {
  margin-top: 10px;
}

.news .owl-features {
  margin-top: 60px !important;
  min-height: 100%;
}

.news .item .thumb {
  position: relative;
  overflow: hidden;
}


.news .item .thumb:hover {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.news .item .thumb:hover .hover-effect {
  visibility: visible;
  opacity: 1;
  right: 28px;
}

.news .item .thumb .hover-effect {
  height: auto !important;
  width: 90% !important;
  position: absolute;
  right: 15px !important;
  bottom: 80px !important;
  padding: 30px 40px;
  border-radius: 20px;
  border: 1px solid rgba(64, 66, 69, 0.9);
  background-color: rgba(40, 43, 47, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.news .item .hover-effect .content h4 {
  font-size: 20px;
  margin-bottom: 25px;
}

.news .item .hover-effect .content span.details {
  display: flex;
  margin-bottom: 0px;
}

.news .item .hover-effect .content span.details img {
  margin-right: 15px;
}

.news .item .hover-effect .content span.details h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.news .item .hover-effect .content span.details a {
  font-weight: 500;
  margin-top: 5px;
}

.news .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-23px);
  text-align: center;
}

.news .owl-nav .owl-prev {
  position: absolute;
  left: -23px;
}

.news .owl-nav .owl-next {
  position: absolute;
  right: -23px;
}

.news .owl-nav .owl-prev span,
.news .owl-nav .owl-next span {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  color: #7453fc;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all .3s;
}

.news .owl-nav .owl-prev span:hover,
.news .owl-nav .owl-next span:hover {
  opacity: 1;
}

/* 
---------------------------------------------
Contact Page Style
--------------------------------------------- 
*/

.contact .contact-us {
  border-bottom: 3px dotted #eee;
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact .contact-us .section-heading {
  margin-bottom: 40px;
}

.contact .contact-us #map {
  margin-right: 30px;
}

.contact .contact-us .section-heading h2 {
  font-size: 34px;
  font-weight: 700;
  color: white;
}

.contact .contact-us .section-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}

.contact .contact-us form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contact .contact-us form input::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contact .contact-us form textarea {
  width: 100%;
  height: 140px;
  min-height: 120px;
  max-height: 200px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contact .contact-us form textarea::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contact .contact-us form button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: white;
  box-shadow: none;
  border: 1px solid transparent;
  color: black;
  transition: all 0.3s;
}

.contact .contact-us form button:hover {
  border: 1px solid #2a2a2a;
}

.contact .subscribe {
  margin-top: 90px;
}

.contact .subscribe .section-heading h2 {
  font-size: 34px;
  font-weight: 700;
  color: white;
}

.contact .subscribe .section-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}

.contact .subscribe form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contact .subscribe form input::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contact .subscribe form button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: white;
  box-shadow: none;
  border: 1px solid transparent;
  color: black;
  transition: all 0.3s;
}

.contact .subscribe form button:hover {
  border: 1px solid #2a2a2a;
}

.contact .subscribe ul li {
  margin-bottom: 30px;
  display: block;
}

.contact .subscribe ul li {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.contact .subscribe ul li span,
.contact .subscribe ul li span a {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.contact .subscribe ul li span a:hover {
  color: #2a2a2a;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  background: rgb(125, 90, 254);
  background: linear-gradient(132deg, rgba(125, 90, 254, 1) 25%, rgba(160, 84, 244, 1) 100%);
  text-align: center;
  padding: 25px 0px;
}

footer p {
  color: #fff;
}

footer p a {
  color: #fff;
  font-weight: 500;
  transition: all .3s;
}

footer p a:hover {
  color: #fff;
  opacity: 0.75;
}

/* 
---------------------------------------------
About Us Style
--------------------------------------------- 
*/

.about-us {
  margin-top: 100px;
}

.about-us .left-image img {
  width: 100%;
  overflow: hidden;
}

.about-us .right-content {
  margin-left: 30px;
}

.about-us .right-content h4 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.about-us .right-content span {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

.about-us .right-content .quote {
  margin-top: 25px;
}

.about-us .right-content .quote i {
  float: left;
  font-size: 32px;
  margin-right: 15px;
  margin-top: 10px;
}

.about-us .right-content .quote p {
  font-style: italic;
  color: #2a2a2a;
  font-weight: 500;
}

.about-us .right-content p {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

.about-us .right-content ul {
  border-top: 3px dotted #eee;
  margin-top: 30px;
  padding-top: 30px;
}

.about-us .right-content ul li {
  display: inline-block;
  margin-right: 5px;
}

.about-us .right-content ul li a {
  width: 50px;
  height: 50px;
  background-color: black;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all .5s;
}

.about-us .right-content ul li a:hover {
  background-color: #eee;
  color: #2a2a2a;
}

.our-team {
  margin-top: 100px;
  padding-top: 90px;
  padding-bottom: 90px;
  border-top: 3px dotted #eee;
}

.our-team .section-heading {
  margin-bottom: 60px;
  text-align: center;
}

.our-team .section-heading h2 {
  color: black !important;
  margin-bottom: 10px;
}

.our-team .team-item .thumb {
  position: relative;
}

.our-team .team-item .thumb img {
  width: 100%;
  overflow: hidden;
}

.our-team .team-item .thumb .hover-effect {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.our-team .team-item .thumb:hover .hover-effect {
  opacity: 1;
  visibility: visible;
}

.our-team .team-item .thumb .hover-effect .inner-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-22px);
}

.our-team .team-item .thumb .hover-effect .inner-content ul li {
  display: inline-block;
  margin: 0px 5px;
}

.our-team .team-item .thumb .hover-effect .inner-content ul li a {
  width: 44px;
  height: 44px;
  background-color: #fff;
  color: #2a2a2a;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: all .3s;
}

.our-team .team-item .thumb .hover-effect .inner-content ul li a:hover {
  background-color: #2a2a2a;
  color: #fff;
}

.our-team .team-item .down-content {
  text-align: center;
  padding-top: 25px;
}

.our-team .team-item .down-content h4 {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 5px;
}

.our-team .team-item .down-content span {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
  font-style: italic;
}

.our-services {
  padding-top: 90px;
  padding-bottom: 90px;
  border-top: 3px dotted #eee;
  border-bottom: 3px dotted #eee;
}

.our-services .section-heading {
  margin-bottom: 60px;
  text-align: center;
}

.our-services .section-heading h2 {
  color: black !important;
  margin-bottom: 10px;
}

.our-services .service-item {
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
  text-align: center;
}

.our-services .service-item img {
  width: 100%;
  overflow: hidden;
}

.our-services .service-item h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.our-services .service-item p {
  color: black !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 
---------------------------------------------
Heading Page
--------------------------------------------- 
*/
.page-heading {
  margin-top: 90px !important;
  background-color: white;
}

.page-heading .inner-content {
  padding: 80px 0px;
  text-align: center;
}

.page-heading .inner-content h1 {
  font-size: 4em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .top-seller .item {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .main-banner .owl-banner {
    margin-top: 80px;
  }

  .categories .item {
    margin-bottom: 35px;
  }

  .create-nft .section-heading,
  .currently-market .section-heading {
    text-align: center;
  }

  .currently-market-item {
    width: 100%;
  }

  .create-nft .section-heading .line-dec,
  .currently-market .section-heading .line-dec {
    margin: 0 auto;
  }

  .create-nft .main-button,
  .currently-market .filters {
    text-align: center;
  }

  .currently-market .filters {
    margin-bottom: 30px;
    margin-top: -30px;
  }

  .create-nft p {
    margin-right: 0px;
  }

  .create-nft .first-item:after,
  .create-nft .second-item:after,
  .create-nft .first-item .number,
  .create-nft .second-item .number {
    display: none;
  }

  .create-nft .item {
    text-align: center;
    margin-top: 45px;
  }

  .discover-items #search-form {
    margin-bottom: 40px;
    margin-top: -30px;
  }

  .discover-items #search-form fieldset {
    margin-bottom: 30px;
  }

  .top-seller .item h6 {
    font-size: 16px;
  }

  .item-details-page .left-image {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .current-bid select {
    float: none;
  }
}

@media (max-width: 1200px) {}